# Node / package managers
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Turborepo
.turbo/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# OS / editor
.DS_Store
.vscode/
.idea/

# Python
data-prep/.venv/
__pycache__/
*.pyc

# Build artifacts
dist/
coverage/
storybook-static/
*.tsbuildinfo

# ui package generated output
packages/ui/public/r/
/packages/ui/node_modules
/packages/ui/.next

# admin package generated output
packages/ui/public/r/
/apps/admin/node_modules
/apps/admin/.next


# app package generated output
packages/ui/public/r/
/apps/app/node_modules
/apps/app/.next

# docs package generated output
packages/ui/public/r/
/apps/docs/node_modules
/apps/docs/.next

# registry package generated output
packages/ui/public/r/
/apps/registry/node_modules
/apps/registry/.next

